:root {
  /* Brand colors */
  --color-primary: #ffa8e9;
  --color-primary-dark: #ff75dd;
  --color-primary-darker: #ff42d0;

  /* Suport colors */
  --color-cream: #F3E5D8;
  --color-chocolate: #5C3A2E;

  /* Texts */
  --color-text-white: #FFF;
  --color-text-light: #6E5A52;
  --color-text-main: #3f3f3f;
  --color-bg-main: #FFF6FB;
  --color-bg-section: #F3E5D8;
  --color-bg-card: #FFF;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-main);
}

