.hero-section {
  display: flex;
  width: 100%;
  height: 50vh;
  background-image: url('../public/hero-section-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  filter: brightness(90%);
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  margin-top: 200px;
  width: 100%;
  background-color: #5c3a2ea2;
  height: fit-content;
  padding: 20px;
  margin-block: auto;
}

.hero-section h1 {
  color: var(--color-text-white);
  font-size: 2rem;
  font-weight: bold;
  opacity: 100%;
  width: 100%;
}

.hero-section button {
  width: 200px;
  padding-block: 16px;
  font-size: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-bg-section);
  width: 100%;
  padding: 40px;
  border-bottom: 1px solid var(--color-chocolate);
}

.section-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.section-title {
  font-size: 1.4rem;
}

@media (min-width: 700px ){

  .hero-section {
    height: 90vh;
  }

  .hero-section h1 {
    font-size: 4rem;
  }

  .hero-section button {
    width: 360px;
    font-size: 2rem;
  }

   .section {
    min-height: 72vh;
    padding-inline: 224px;
    padding-block: 80px;
  }

  .section-title {
    font-size: 2rem;
  }
}