* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit
}

:root {
  /* Brand colors */
  --color-primary: #ffa8e9;
  --color-primary-dark: #ff75dd;
  --color-primary-darker: #ff42d0;

  /* Suport colors */
  --color-cream: #F3E5D8;
  --color-chocolate: #5C3A2E;

  /* Texts */
  --color-text-white: #FFF;
  --color-text-light: #6E5A52;
  --color-text-main: #3f3f3f;
  --color-bg-main: #FFF6FB;
  --color-bg-section: #F3E5D8;
  --color-bg-card: #FFF;
}

body {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-main);
}

.button-primary {
  color: white;
  background-color: var(--color-primary-dark);
  box-shadow: 1px 6px 14px 1px rgba(0, 0, 0, 0.404);
  border-radius: 8px;
  transition: background-color 300ms ease;
  cursor: pointer;
}

.button-primary:hover {
  background-color: var(--color-primary-darker);
}

.dark-filter {
  position: relative;
}

.dark-filter::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.473);
  z-index: 1;
}

.dark-filter > * {
  z-index: 2;
}

/* pacifico-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pacifico-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero-section {
  display: flex;
  position: relative;
  width: 100%;
  height: 50vh;
  filter: brightness(90%);
}

.hero-section img {
  position: absolute;
  object-position: bottom;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  margin-top: 200px;
  width: 100%;
  background-color: #5c3a2ea2;
  height: fit-content;
  padding: 20px;
  margin-block: auto;
  z-index: 2;
}

.hero-section h1 {
  color: var(--color-text-white);
  font-size: 2rem;
  font-weight: bold;
  opacity: 100%;
  width: 100%;
}

.hero-section button {
  width: 200px;
  padding-block: 16px;
  font-size: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-bg-section);
  width: 100%;
  padding: 40px;
  min-height: 72vh;
  border-bottom: 1px solid var(--color-chocolate);
}
.clients-testimonial-section {
  position: relative;
}

.clients-testimonial-section__image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.slides-section {
  height: 72vh;
}

.section-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.section-title {
  font-size: 1.4rem;
}

@media (min-width: 1024px ){

  .hero-section {
    height: 90vh;
  }

  .hero-section h1 {
    font-size: 4rem;
  }

  .hero-section button {
    width: 360px;
    font-size: 2rem;
  }

   .section {
    padding-inline: 224px;  
  }

  .clients-testimonial-section {
    height: 72vh;
  }

  .section-title {
    font-size: 2rem;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 496px;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  background-color: var(--color-bg-card);
}

.card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center;
  transition: scale 300ms ease-in;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  gap: 8px;
  flex: 1;
}

.card button {
  padding-block: 16px;
  width: 90%;
  font-size: 1.4rem;
  border-radius: 8px;
  margin-bottom: 24px;
}

.card img:hover {
  scale: 110%;
}


@media (min-width: 700px) {
  .cards {
    flex-direction: row;
  }
  .card {
    flex: 0 0 400px;
    height: 468px;
  }

  .card button {
    width: 200px;
    font-size: 1.2rem;
  }
}

@media (max-width: 1757px ){
  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.clients-testimonial-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100%;
}

.clients-testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  color: white;
}

.clients-testimonial-item h3 {
  font-size: 1.8rem;
}

.clients-testimonial-item p {
  font-size: 1.2rem;
}

.avatar {
  border-radius: 50%;
  width: 152px;
  height: 152px;
  overflow: hidden;
}

.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px){
  .clients-testimonial-item {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .clients-testimonial-items {
    flex-direction: row;
    gap: 56px;
  }

  .clients-testimonial-item {
    width: 400px;
  }
}

.slider-container {
  height: 80%;
  width: 100%;
}

@media (min-width: 700px) {
  .slider-container {
    height: 500px;
    width: 572px;
  }
}

.slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider {
  display: flex;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1 0 50%;
  scroll-snap-align: start;
}

.slider-nav {
  display: flex;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  width: fit-content;
  height: 20px;
  gap: 16px;
  transform: translateX(-50%);
  z-index: 1;

}

.slider-nav a {
  border-radius: 50%;
  background-color: var(--color-cream);
  width: 20px;
  height: 20px;
  opacity: 60%;
}

.slider-nav a:hover {
  opacity: 100%;
}

.color-text-white {
  color: var(--color-text-white);
}